* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;}

/*color preset*/

:root {
    --bg: #255EE8;
    --primary-color: #f6f6f6;
    --secondary-color: #ffffff;
    --mark: #7485d6;
    --bg-footer: #23272a;
}

header{
    background-color:var(--bg)
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    padding:1.5rem .5rem;
    
    margin: auto;
    align-items: center;
    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



li{
    list-style: none;
    text-transform: capitalize;  
    margin-top: 0rem; 

}

a{
    text-decoration: none;
}

nav ul li a{
    color: var(--secondary-color);
    margin: 1rem;
}

nav button{
   background-color: var(--secondary-color);
   
}

.jumbo{
    background-image: url(../img/jumbo.png);
    color: var(--secondary-color);
    text-align: center;
    background-size:cover ;
    height: 670px;
}

h1{
    padding: 2rem;
    font-size: 48px;
}

.jumbo p{
    margin-bottom:1rem;
    font-size: 20px;
}

button{
    border-radius: 20px;
    border: none;
    padding: .6rem;
    min-width: 4.5rem;
    font-weight: 500;
}


.mac, .browser{
    font-size: 20px;
    font-weight: 500;
    margin:.5rem;
    padding:1rem;
    border-radius: 30px;
}

.mac{
    background-color: var(--secondary-color);

}


.browser{
    background-color: var(--bg-footer);
    color: var(--secondary-color);

}

.text-header{

padding-top: 10rem;    


}


